<app-modal [isOpen]="isOpen" (closed)="close($event)">
    <div class="p-5 flex flex-col gap-y-6">
        <h3 class="text-body text-center font-bold">Ajouter un élève</h3>
    </div>
    <div class="grid grid-cols-2 gap-4">
        <div class="ml-2">
          <p>Nom :</p>
          <input  class="rounded-xl bg-gray-50 dark:bg-grey-dark" type="text" [(ngModel)]="jsonEleve.last_name">
        </div>
        <div class="mr-2">
          <p>Prénom :</p>
          <input class="rounded-xl bg-gray-50 dark:bg-grey-dark" type="text" [(ngModel)]="jsonEleve.first_name">
        </div>
        <div class="ml-2">
          <p>Mail :</p>
          <input class="rounded-xl bg-gray-50 dark:bg-grey-dark" type="email" [(ngModel)]="jsonEleve.mail">
        </div>
        <div class="mr-2">
          <p>Téléphone :</p>
          <input class="rounded-xl bg-gray-50 dark:bg-grey-dark" type="text" [(ngModel)]="jsonEleve.phone_number">
        </div>
        <div class="ml-2">
          <p>Mot de passe :</p>
          <input class="rounded-xl bg-gray-50 dark:bg-grey-dark" type="text" [(ngModel)]="jsonEleve.password">
        </div>
        <div class="ml-2">
          </div>
        <div class="ml-2">
          <p>Département :</p>
          <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="jsonEleve.department_id"  (blur)="departClicked($event)">
            <option value="" disabled selected>Sélectionner un département</option>
            <ng-container *ngFor="let department of listeDepartment">
                <option >{{ department[1] }}</option>
            </ng-container>
        </select> 
        </div>
        <div class="ml-4" *ngIf="departSelected">
          <p>TD :</p>
          <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="jsonEleve.group_id" (blur)="tdClicked($event)">
              <!-- Boucle à travers listeDepartment pour créer les options -->
              <option value="" disabled selected>Sélectionner un TD</option>
              <ng-container *ngFor="let groupe of organizeTDList">
                  <option >{{ groupe[1] + ', ' +groupe[3] + ' année'}}</option>
              </ng-container>
          </select>              
        </div>       
        <div class="ml-2" *ngIf="tDSelected">
          <p>TP :</p>
          <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="jsonEleve.subgroup_id" (blur)="tpclicked($event)">
              <!-- Boucle à travers listeDepartment pour créer les options -->
              <option value="" disabled selected>Sélectionner un TP</option>
              <ng-container *ngFor="let subgroup of organizeTPList">
                  <option >{{ subgroup[1]}}</option>
              </ng-container>
          </select>              
        </div>       
      </div>       
          
    <div class="flex justify-center items-center p-6 space-x-2 border-gray-200 rounded-b">
        <app-button label="Valider" type="primary" (click)="submit()"></app-button>
        <app-button label="Annuler" type="grey" (click)="close(false)"></app-button>
    </div>
</app-modal>
