<li #menuItem (click)="handleClick()" class="flex pl-4 overflow-x-hidden">
    <a
        [routerLink]="routePath"
        class="grow flex items-center p-3 rounded-lg transition-all duration-300"
        [ngClass]="{
            'justify-center': collapse,
            'justify-start': !collapse,
        }"
    >
        <ng-content select="[icon]"></ng-content>
        <span *ngIf="!collapse" class="ml-3 font-aileron text-sm truncate" [ngClass]="{ 'text-body font-semibold': active, 'text-grey': !active }">{{ label }}</span>
    </a>
    <div #tooltip *ngIf="collapse" class="absolute z-10 invisible inline-block px-3 py-2 text-base font-aileron font-bold text-white bg-primary rounded-lg shadow-sm opacity-0 tooltip">
        {{ label }}
        <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
</li>
