<div *ngIf="isOpen" class="fixed inset-0 z-50 overflow-y-auto" [@fadeInOut]>
    <div class="fixed w-full h-full inset-0 bg-black bg-opacity-30 dark:bg-opacity-40" (click)="close()"></div>

    <div class="flex min-h-full items-center justify-center text-center" [ngClass]="padding">
        <div class="modal-content relative w-full bg-white dark:bg-light-dark shadow-card text-left" [ngClass]="[maxWidth, height, rounded]" [@scaleInOut]>
            <ng-content></ng-content>
        </div>
    </div>
</div>
