<div class="p-4 md:p-8 flex flex-col gap-y-8">
    <div class="w-full flex justify-between items-center">
        <h3 class="text-body">Emploi du temps</h3>
        <h3 class="font-normal text-medium dark:text-medium text-right">{{ formattedDate }}</h3>
    </div>
    <div id="calendar-container" class="">
        <div class="flex flex-col gap-y-6">
            <div id="cal-buttons" class="flex flex-col items-center">
                <div id="cal-date-nav-button" class="flex flex-row items-center gap-x-3">
                    <button id="previous" [excludeDays]="excludeDays" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">
                        <svg class="fill-primary w-4 h-4" viewBox="0 0 25 25" fill="none" [ngClass]="{ 'rotate-180': null }">
                            <path
                                d="M12.5 0C19.4033 0 25 5.59667 25 12.5C25 19.4033 19.4033 25 12.5 25C5.59667 25 0 19.4033 0 12.5C0 5.59667 5.59667 0 12.5 0ZM8.58333 13.0917L13.9883 18.4967C14.1455 18.6485 14.356 18.7325 14.5745 18.7306C14.793 18.7287 15.002 18.641 15.1565 18.4865C15.311 18.332 15.3987 18.123 15.4006 17.9045C15.4025 17.686 15.3185 17.4755 15.1667 17.3183L10.3483 12.5L15.1667 7.68167C15.3185 7.5245 15.4025 7.314 15.4006 7.0955C15.3987 6.877 15.311 6.66799 15.1565 6.51348C15.002 6.35898 14.793 6.27134 14.5745 6.26944C14.356 6.26754 14.1455 6.35153 13.9883 6.50333L8.58333 11.9083C8.5055 11.9858 8.44389 12.0781 8.40211 12.1797C8.36033 12.2813 8.33922 12.3902 8.34 12.5C8.33945 12.6098 8.36067 12.7186 8.40244 12.8202C8.4442 12.9217 8.50569 13.014 8.58333 13.0917Z"
                            />
                        </svg>
                    </button>
                    <h3 class="flex text-body w-56 md:w-64 justify-center">{{ viewDate | calendarDate : view + "ViewTitle" : "fr" }}</h3>
                    <button id="next" [excludeDays]="excludeDays" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view">
                        <svg class="fill-primary w-4 h-4" viewBox="0 0 25 25" fill="none" transform="rotate(180)">
                            <path
                                d="M12.5 0C19.4033 0 25 5.59667 25 12.5C25 19.4033 19.4033 25 12.5 25C5.59667 25 0 19.4033 0 12.5C0 5.59667 5.59667 0 12.5 0ZM8.58333 13.0917L13.9883 18.4967C14.1455 18.6485 14.356 18.7325 14.5745 18.7306C14.793 18.7287 15.002 18.641 15.1565 18.4865C15.311 18.332 15.3987 18.123 15.4006 17.9045C15.4025 17.686 15.3185 17.4755 15.1667 17.3183L10.3483 12.5L15.1667 7.68167C15.3185 7.5245 15.4025 7.314 15.4006 7.0955C15.3987 6.877 15.311 6.66799 15.1565 6.51348C15.002 6.35898 14.793 6.27134 14.5745 6.26944C14.356 6.26754 14.1455 6.35153 13.9883 6.50333L8.58333 11.9083C8.5055 11.9858 8.44389 12.0781 8.40211 12.1797C8.36033 12.2813 8.33922 12.3902 8.34 12.5C8.33945 12.6098 8.36067 12.7186 8.40244 12.8202C8.4442 12.9217 8.50569 13.014 8.58333 13.0917Z"
                            />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="flex justify-end">
                <app-button label="Filtrer" (click)="openFilterModal()">
                    <ng-container left-icon>
                        <svg class="w-4 h-3 fill-white" viewBox="0 0 18 12" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 12H10C10.55 12 11 11.55 11 11C11 10.45 10.55 10 10 10H8C7.45 10 7 10.45 7 11C7 11.55 7.45 12 8 12ZM0 1C0 1.55 0.45 2 1 2H17C17.55 2 18 1.55 18 1C18 0.45 17.55 0 17 0H1C0.45 0 0 0.45 0 1ZM4 7H14C14.55 7 15 6.55 15 6C15 5.45 14.55 5 14 5H4C3.45 5 3 5.45 3 6C3 6.55 3.45 7 4 7Z" />
                        </svg>
                    </ng-container>
                </app-button>
            </div>

            <div class="flex flex-col">
                <div *ngIf="view === calendarView.Day" class="cal-day-headers !rounded-t-xl cursor-pointer" (click)="setView(calendarView.Week)">
                    <div [ngClass]="{ 'text-primary': isToday(viewDate), 'text-body dark:text-light': !isToday(viewDate) }" class="hover:text-primary dark:hover:text-primary py-4 flex flex-col items-center transition-all duration-300">
                        <b>{{ viewDate | date : "EEEE" : "fr" }}</b>
                        <span>{{ viewDate | date : "d MMM" : "fr" }}</span>
                    </div>
                </div>
                <ng-template #customEventTemplate let-event="event">
                    <app-custom-event-calendar [event]="event" />
                </ng-template>
                <span [ngSwitch]="view">
                    <mwl-calendar-week-view *ngSwitchCase="calendarView.Week" [viewDate]="viewDate" [events]="events" [excludeDays]="excludeDays" [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour" [hourSegments]="hourSegments" locale="fr" (eventClicked)="showEventDetails($event)" (dayHeaderClicked)="changeDay($event.day.date)" [refresh]="refresh" [hourSegmentHeight]="15" [eventTitleTemplate]="customEventTemplate"></mwl-calendar-week-view>
                    <mwl-calendar-day-view *ngSwitchCase="calendarView.Day" [viewDate]="viewDate" [events]="events" [dayStartHour]="dayStartHour" [dayEndHour]="dayEndHour" [hourSegments]="hourSegments" locale="fr" (click)="dayViewClick()" (eventClicked)="showEventDetails($event)" [refresh]="refresh" [hourSegmentHeight]="15" [eventTitleTemplate]="customEventTemplate"> </mwl-calendar-day-view>
                </span>
            </div>
            <app-filter-modal [isOpen]="filterModalOpened" (closed)="closedFilterModal()" [mapIdNomPromo]="mapIdNomPromo" [mapIdNomProf]="mapIdNomProfs" [mapIdNomRoom]="mapIdNomRoom" (filterChanged)="onFilterChanged($event)"></app-filter-modal>
        </div>
    </div>
</div>
