.cal-month-view,
.cal-week-view,
.cal-day-cell,
.cal-day-headers,
.cal-event-title-bar,
.cal-header {
    font-family: "Aileron", sans-serif !important;
    font-size: 14px !important;
    border: none !important;
    background: #fff !important;
}

.dark .cal-month-view,
.dark .cal-week-view,
.dark .cal-day-cell,
.dark .cal-day-headers,
.dark .cal-event-title-bar,
.dark .cal-header {
    transition: all 300ms;
    background: #252525 !important;
}

.cal-week-view {
    border-radius: 12px !important;
}

.cal-day-view .cal-week-view {
    border-radius: 0 !important;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.cal-day-headers {
    border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}

.cal-time-events {
    border: none !important;
}

.cal-current-time-marker {
    background: #5e81f4 !important;
    border-radius: 8px !important;
}

.cal-day-headers {
    border-bottom: 0.5px solid #cbcbcb !important;
    background: #eeeef5 !important;
}

.dark .cal-day-headers {
    background: #444444 !important;
    border-bottom: 0.5px solid #6c6773 !important;
}

.cal-header {
    border-radius: 0 !important;
    border-left: 0.5px solid #cbcbcb !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    background: transparent !important;
    color: #131336 !important;
}

.cal-event {
    background: transparent !important;
    border: none !important;
    padding: 0px !important;
}

.dark .cal-header {
    background: transparent !important;
    border-left: 0.5px solid #6c6773 !important;
    color: #f5f5fb !important;
}

.cal-day-column {
    border-left: 0.5px solid #cbcbcb !important;
}

.cal-day-view .cal-day-column {
    border-left: none !important;
}

.dark .cal-day-column {
    border-left: 0.5px solid #6c6773 !important;
}

.dark .cal-day-view .cal-day-column {
    border-left: none !important;
}

.cal-header:last-child {
    border-top-right-radius: 12px !important;
}

.cal-header b,
.cal-header span {
    color: #131336 !important;
}

.dark .cal-header b,
.dark .cal-header span {
    color: #f5f5fb !important;
}

.dark .cal-hour-odd {
    background: #303030 !important;
}

.cal-today b,
.cal-today span {
    color: #5e81f4 !important;
}

.dark .cal-today b,
.dark .cal-today span {
    color: #5e81f4 !important;
}

.cal-header:hover {
    cursor: pointer;
}

.cal-header:hover b,
.cal-header:hover span {
    transition: all 300ms;
    color: #5e81f4 !important;
}

.cal-time {
    font-size: 12px !important;
    color: #6c6773 !important;
    font-weight: 400 !important;
}

.dark .cal-time {
    color: #bdbdbd !important;
}
.cal-hour-segment {
    border: none !important;
}

.cal-hour-segment:hover {
    background-color: inherit !important;
    background: inherit !important;
}

.date-picker > input {
    @apply !ring-2 ring-transparent !border-0 !inner-border-0 rounded-lg focus:ring-primary font-aileron;
}

.date-picker.has-errors > input:focus {
    @apply border-2 focus:!ring-danger;
}

.flatpickr-calendar.open {
    @apply shadow-card rounded-lg bg-light dark:bg-grey-dark;
}

.flatpickr-calendar.open .flatpickr-hour,
.flatpickr-calendar.open .flatpickr-minute {
    @apply text-body dark:text-white;
}

.flatpickr-calendar.open .flatpickr-time input {
    @apply bg-light dark:bg-grey-dark;
}

.flatpickr-calendar.open .flatpickr-time {
    @apply rounded-lg;
}

.flatpickr-calendar.open .flatpickr-time-separator {
    @apply dark:text-white;
}

.flatpickr-calendar.open .flatpickr-hour:hover,
.flatpickr-calendar.open .flatpickr-minute:hover {
    @apply bg-subtitle dark:bg-grey-dark;
}

.flatpickr-calendar.open .flatpickr-months {
    @apply flex justify-between items-center px-2 py-2 bg-primary rounded-t-lg;
}

.flatpickr-calendar.open .flatpickr-current-month {
    @apply w-auto;
}

.flatpickr-calendar.open .flatpickr-months .flatpickr-monthDropdown-months,
.flatpickr-calendar.open .flatpickr-months .numInput {
    @apply capitalize font-aileron text-base font-medium text-white;
}

.flatpickr-calendar.open .flatpickr-months .flatpickr-month .flatpickr-current-month,
.flatpickr-calendar.open .flatpickr-months .flatpickr-month .flatpickr-current-month {
    @apply font-aileron text-base font-medium text-white;
}

.flatpickr-calendar.open .flatpickr-months .flatpickr-prev-month,
.flatpickr-calendar.open .flatpickr-months .flatpickr-next-month {
    @apply relative fill-white;
}

.flatpickr-calendar.open .flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-calendar.open .flatpickr-months .flatpickr-next-month:hover {
    @apply bg-light rounded-full;
}

.flatpickr-calendar.open .flatpickr-months .flatpickr-prev-month:hover > svg,
.flatpickr-calendar.open .flatpickr-months .flatpickr-next-month:hover > svg {
    @apply fill-body;
}

.flatpickr-calendar.open .flatpickr-weekdays {
    @apply bg-primary capitalize;
}

.flatpickr-calendar.open span.flatpickr-weekday {
    @apply font-aileron text-sm font-normal text-white;
}

.flatpickr-calendar.open .flatpickr-days {
    @apply font-aileron text-sm font-normal py-2;
}

.flatpickr-calendar.open .flatpickr-day {
    @apply font-aileron text-sm font-normal text-body dark:text-white transition duration-300 rounded-md border-0 flex justify-center items-center aspect-square;
}

.flatpickr-day:hover {
    @apply !bg-primary rounded-md border-0 !text-white;
}

.flatpickr-day.today {
    @apply rounded-md border-0 !text-primary !font-bold;
}

.flatpickr-day.today:hover {
    @apply bg-primary !text-white;
}

.flatpickr-calendar.open .flatpickr-day.selected {
    @apply bg-primary !text-white rounded-md border-0;
}

.flatpickr-calendar.open .flatpickr-day.selected:hover {
    @apply bg-primary;
}
