<div id="calendar-container">
    <div id="cal-buttons">
        <div id="cal-date-nav-button">
            <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">Previous</button>
            <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">Today</button>
            <button id="previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view">Next</button>
        </div>
        <div id="cal-date-field"> {{ viewDate | calendarDate:(view + 'ViewTitle') : 'en'}}</div>
        <div id="cal-view-buttons">
            <button id="week" (click)="setView(calendarView.Week)" >Week</button>
            <button id="day" (click)="setView(calendarView.Day)">Day</button>
        </div>
    </div>

    <span [ngSwitch]="view">
        
        <mwl-calendar-week-view *ngSwitchCase="calendarView.Week" 
            [viewDate]="viewDate" 
            [events]="events"
            [excludeDays]="excludeDays"
            [dayStartHour]="dayStartHour"
            [dayEndHour]="dayEndHour"
            [hourSegments]="hourSegments"
            locale="fr"
            (eventTimesChanged)="eventTimesChanged($event)"
            (eventClicked)="eventClicked($event)"
            [refresh]="refresh"
            >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="calendarView.Day" 
            [viewDate]="viewDate" 
            [events]="events"
            [dayStartHour]="dayStartHour"
            [dayEndHour]="dayEndHour"
            [hourSegments]="hourSegments"
            locale="fr"
            (eventTimesChanged)="eventTimesChanged($event)"
            (eventClicked)="eventClicked($event)"
            [refresh]="refresh"

            >
        </mwl-calendar-day-view>
    </span>
</div>