<app-modal [isOpen]="isOpen" (closed)="close($event)" class="border border-solid border-black">
    <div class="p-5 flex flex-row gap-y-6 w-full">
      <svg class="fill-primary w-8 h-7" viewBox="0 0 76 52" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M32 26C32 27.1 31.1 28 30 28H12C10.9 28 10 27.1 10 26C10 24.9 10.9 24 12 24H30C31.1 24 32 24.9 32 26ZM26 38H12C10.9 38 10 38.9 10 40C10 41.1 10.9 42 12 42H26C27.1 42 28 41.1 28 40C28 38.9 27.1 38 26 38ZM30 10H12C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14H30C31.1 14 32 13.1 32 12C32 10.9 31.1 10 30 10ZM76 2V50C76 51.1 75.1 52 74 52H2C0.9 52 0 51.1 0 50V2C0 0.9 0.9 0 2 0H74C75.1 0 76 0.9 76 2ZM72 4H4V48H72V4ZM65.9 40C65.9 41.1 65 42 63.9 42H36C34.9 42 34 41.1 34 40C34 33.4 37.9 27.8 43.6 25.3C41.7 23.4 40.4 20.8 40.4 18C40.4 12.7 44.8 8 49.9 8C55 8 59.4 12.7 59.4 18C59.4 20.8 58.2 23.4 56.2 25.3C61.9 27.8 65.9 33.4 65.9 40ZM44.4 18C44.4 20.8 46.8 24 49.9 24C53 24 55.4 20.8 55.4 18C55.4 15.2 53 12 49.9 12C46.8 12 44.4 15.2 44.4 18ZM61.8 38C60.9 32.3 55.9 28 50 28C44.1 28 39.2 32.3 38.2 38H61.8Z"
        />
    </svg>
        <h3 class="w-full mr-3 text-body text-center font-bold"><strong>Ajouter une cohorte</strong></h3>
    </div>
    <div class=" flex w-full justify-center items-center">
        <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="selectedOption" (change)="onSelectChange()">
            <option>Créer un département</option>
            <option>Créer un groupe (TD)</option>
            <option>Créer un sous-groupe (TP)</option>
        </select>        
      </div>       

      <div *ngIf="selectedOption === 'Créer un département'">
        <div class="grid grid-cols-2 gap-4 mt-4">

            <div class="ml-2">
                <p>Nom :</p>
                <input class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="department.name">
            </div>
            <div class="ml-2">
                <p>description :</p>
                <input class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="department.description">
            </div>
            <div class="ml-2">
                <p>Responsable :</p>
                <select class="rounded-xl bg-gray-50 dark:bg-grey-dark "[(ngModel)]="department.personal_id">
                    <!-- Boucle à travers listeDepartment pour créer les options -->
                    <option value="" disabled selected>Choissisez un professeur</option>
                    <ng-container *ngFor="let prof of listePersonel">
                        <option >{{ prof[1] +' '  + prof[2]}}</option>
                    </ng-container>
                </select>                
            </div>
            <div class="ml-5">
                <p>Type de diplome :</p>
                <input class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2 w-9/12" [(ngModel)]="department.degree_type">
            </div>
        </div>
    </div>
    
    <div *ngIf="selectedOption === 'Créer un groupe (TD)'">
        <div class="grid grid-cols-2 gap-4 mt-4">

            <div class="ml-2">
                <p>Nom :</p>
                <input class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="group.type">
            </div>

            <div class="ml-2">
                <p>Promotion :</p>
                <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="group.promotion">
                    <!-- Boucle à travers listeDepartment pour créer les options -->
                    <option value="" disabled selected>Sélectionner une année</option>
                    <option >1ère année</option>
                    <option >2ème année</option>
                    <option >3ème année</option>
                </select>             
            </div>
            <div class="ml-2">
                <p>Departement parent :</p>
                <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="group.department_id">
                    <!-- Boucle à travers listeDepartment pour créer les options -->
                    <option value="" disabled selected>Sélectionner un département</option>
                    <ng-container *ngFor="let department of listeDepartment">
                        <option >{{ department[1] }}</option>
                    </ng-container>
                </select>    
            </div>
        </div>
    </div>
    
    <div *ngIf="selectedOption === 'Créer un sous-groupe (TP)'">
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div class="ml-2">
                <p>Departement parent :</p>
                <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="subGroup.department_id"  (blur)="toggleDepartClicked($event)">
                    <!-- Boucle à travers listeDepartment pour créer les options -->
                    <option value="" disabled selected>Sélectionner un département</option>
                    <ng-container *ngFor="let department of listeDepartment">
                        <option >{{ department[1] }}</option>
                    </ng-container>
                </select>    
            </div>
            <div class="ml-4">
            </div>
            <div class="ml-2">
                <p>Nom :</p>
                <input class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="subGroup.name">
            </div>
            <div class="ml-2" *ngIf="departSelected">
                <p>Groupe parent :</p>
                <select class="rounded-xl bg-gray-50 dark:bg-grey-dark p-2" [(ngModel)]="subGroup.group_id">
                    <!-- Boucle à travers listeDepartment pour créer les options -->
                    <option value="" disabled selected>Sélectionner un groupe</option>
                    <ng-container *ngFor="let groupe of organizeTDList">
                        <option >{{ groupe[1] + ', ' +groupe[3] + ' année'}}</option>
                    </ng-container>
                </select>              
            </div>
           
           
        </div>
    </div>
          
    <div class="flex justify-center items-center p-6 space-x-2 border-gray-200 rounded-b">
        <app-button label="Valider" type="primary" (click)="submit()"></app-button>
        <app-button label="Annuler" type="grey" (click)="close(false)"></app-button>
    </div>
</app-modal>
