<label class="relative inline-flex items-center cursor-pointer">
    <input (click)="toggleDarkMode()" type="checkbox" class="sr-only peer" [checked]="darkMode" />
    <div class="w-11 h-6 bg-gray-300 rounded-full peer peer-checked:after:translate-x-full after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-grey-dark peer-checked:after:bg-subtitle peer-checked:after:border-grey-dark"></div>
</label>
